:root {
  --dark-mode-font-color: rgba(240, 240, 240, 1);
  --dark-mode-bckg-color: rgba(32, 33, 36, 0.9);
  --light-mode-font-color: rgba(32, 33, 36, 1);
  --light-mode-bckg-color: rgba(240, 240, 240, 0.9);
  --task-card-bckg-color: rgba(255, 255, 255, 1);

  --icon-height: 20px;
  --icon-width: 20px;

  --logo-gap: 10px;
  --nav-sidebar-gap: 30px;
  --icon-text-gap: 20px;

  --row-gap-sidebar: 20px;
  --row-gap-task-card: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

body {
  background-image: url('./img/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px 50px;
}

.header {
  color: rgba(240, 240, 240, 1);
  height: fit-content;
  display: flex;
  align-items: start;
  justify-content: center;
  margin-bottom: 50px;
}

.logo-image {
  height: 50px;
  width: auto;
}

.settings {
  margin-left: auto;
  color: var(--dark-mode-font-color);
}

.user-settings {
  display: flex;
  column-gap: var(--icon-text-gap);
}

.user-settings li {
  /* background-color: var(--dark-mode-bckg-color); */
  padding: 5px 0;
  font-size: 0.8rem;
  font-weight: 700;
}

.theme,
.help,
.logo,
.menu-pair,
.user-list li,
.project-list li,
.task-header,
.add-task,
.task-ul,
.task-actions {
  display: flex;
}

.task-list,
.main-container,
.user-list,
.project-list {
  display: grid;
}

.hamburger {
  padding-left: 30px;
}

.menu-pair {
  column-gap: 10px;
  padding-left: 30px;
}

.logo {
  column-gap: var(--logo-gap);
}

.theme,
.help {
  column-gap: 5px;
}

.main-container {
  grid-template-columns: 1fr 4fr;
  box-shadow: 0 0 50px 1px rgb(2, 14, 17);
}

.sidebar {
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: fit-content;
  row-gap: var(--row-gap-sidebar);
  min-width: 300px;
  border-right: 1px solid rgba(241, 236, 196, 0.9);
  border-right-style: inset;
}

.task-container {
  grid-column: 2 / -1;
  background-color: rgba(235, 229, 189, 0.9);
}

.sidebar {
  padding: 30px 0;
}

.task-container {
  padding: 30px 20px;
}

.task-header {
  column-gap: var(--icon-text-gap);
  padding: 0 10px 20px 10px;
}

.project-name {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--light-mode-font-color);
}

.add-task {
  display: flex;
  column-gap: var(--icon-text-gap);
  background-color: var(--task-card-bckg-color);
  padding: var(--icon-text-gap);
  align-items: center;
  box-shadow: 0 0 50px 1px rgb(98, 103, 105);
  border-radius: 10px;
}

.task-ul {
  flex-direction: column;
  row-gap: var(--row-gap-task-card);
}

.task-actions {
  margin-left: auto;
  column-gap: var(--icon-text-gap);
  align-self: flex-start;
}

.user-list {
  grid-template-rows: repeat(3, fit-content);
}

.project-list {
  grid-template-rows: fit-content;
}

.user-list li,
.project-list li {
  padding: 15px 0;
}

.user-list li:hover,
.project-list li:hover {
  background-color: aqua;
  cursor: pointer;
}

.task-number {
  margin-left: auto;
  padding-right: 10px;
}

.dark {
  color: var(--dark-mode-font-color);
  background-color: var(--dark-mode-bckg-color);
  fill: var(--dark-mode-font-color);
}

.light {
  color: var(--light-mode-font-color);
  background-color: var(--light-mode-bckg-color);
  fill: var(--light-mode-font-color);
}

li {
  list-style-type: none;
}

h1 {
  font-size: 3rem;
}

svg {
  height: var(--icon-height);
  width: var(--icon-width);
}

hr {
  height: 1px;
}

textarea {
  resize: none;
  width: 300px;
}

input[type='text'],
input[type='date'],
button,
textarea {
  appearance: none;
  border: none;
  outline: none;
  /* font-family: 'Roboto', Helvetica, Arial, sans-serif; */
}

.task-title {
  font-size: 1.2rem;
  width: 300px;
}

.task-date {
  color: var(--light-mode-font-color);
}

#task-checkbox {
  visibility: hidden;
}

#add-task-btn {
  padding: 5px 10px;
  color: var(--light-mode-font-color);
  border: 1px solid var(--light-mode-font-color);
  cursor: pointer;
  background-color: var(--light-mode-bckg-color);
}
